<br>
<div><%= flash[:error] %></div>

<h3> Welcome <%= @user.email %>! </h3> 

<br><br>

<h4>Your Reviews: </h4>
<% @user.reviews.each do |r| %>
    <div><%= link_to r.review_race_name, run_review_path(r.run_id, r) %> <br></div>
    <%= r.title %><br>
    Rating: <%= r.rating %><br>
    by: <%= r.user.email %><br>
<% end %>
<br><br>