<h3> Edit Race Form </h3>

<%= form_for(@run) do |f| %>
    <%= f.label :run_race_name %>
    <%= f.text_field :run_race_name %><br>

    <%= f.label :terrain %>
    <%= f.text_field :terrain %>

    <%= f.label :location_city %>
    <5= f.text_field :location_city %>

    <%= f.label :location_state %>
    <%= f.text_field :location_state %>

    <%= f.label :month %>
    <%= f.text_field :month %>

    <%= f.submit %>
<% end %>
