<h3> Race Show Page! </h3>
<br>
<h3> <div> Race Name: <%= @run.run_race_name %><div> </h3>
<h4> <div> Race Terrain: <%= @run.terrain %><div></h4>
<h4> <div> Race City: <%= @run.location_city %><div></h4>
<h4> <div> Race State: <%= @run.location_state %><div></h4>
<h4> <div> Race Month: <%= @run.month %><div></h4>