<br>
<h3> Race Show Page! </h3>
<br>
<div> Race Name: <%= @run.run_race_name %><div>
<div> Race Terrain: <%= @run.terrain %><div>
<div> Race City: <%= @run.location_city %><div>
<div> Race State: <%= @run.location_state %><div>
<div> Race Month: <%= @run.month %><div>

<% if current_user.id == @run.user_id %>
<%= link_to "Edit Marathon", edit_run_path(@run) %> |
<%= link_to "Delete Marathon", run_path, method: :delete %>
<% end %>

<br>
<br>
<%= "#{@run.run_race_name} Reviews:" %><br>
<% @run.reviews.each do |review| %>
    <%= link_to "#{review.review_race_name}", run_review_path(@run, review) %><br>
<% end %>
<%= link_to "Add a Review for #{@run.run_race_name}", new_run_review_path(@run) %>