<%= form_for [@run, @review] do |f| %>
    <div class="field form-group">
        <%= f.label :title, "Review Title: ", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
            <%= f.text_field :title, class: 'form-control' %>
        </div>
    </div>
    
    <div class="field form-group">
        <%= f.label :review_race_name, "Marathon Name: ", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
            <%= f.text_field :review_race_name, class: 'form-control' %>
        </div>
    </div>
    
    <div class="field form-group">
        <%= f.label :description, "Review Content: ", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
            <%= f.text_field :description, class: 'form-control' %>
        </div>
    </div>
    
    <div class="field form-group">
        <%= f.label :rating, "Rating: ", class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
            <%= f.number_field :rating, class: 'form-control' %><br>
        </div>
    </div>

    <div class="actions form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit %>
        </div
    </div>
<% end %>