<%= form_for [@run, @review] do |f| %>
    <br>
    <label> Review Title: </label>
    <%= f.text_field :title %>
    <br>
    <%= f.label "Marathon Name:" %>
    <%= f.text_field :review_race_name %>
    <br>
    <%= f.label "Review Content:" %>
    <%= f.text_field :description %>
    <br>
    <%= f.label "Rating:" %>
    <%= f.number_field :rating %>
    <br>
    <br>
    <%= f.submit %>
<% end %>